<footer class="simple-footer fixed-bottom">
  <div class="footer-content">
    <span>&copy; <%= new Date().getFullYear() %> Colorful Moves. All rights reserved.</span>
  </div>
</footer>
</body>
</html>
