<div class="sidebar-menu p-3">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/new-chat">📝 New Chat</a></li>
    <li class="nav-item"><a class="nav-link" href="/search-chats">🔍 Search Chats</a></li>
    <li class="nav-item"><a class="nav-link" href="/library">📚 Library</a></li>
    <li class="nav-item"><a class="nav-link" href="/images">🖼️ Images</a></li>
    <li class="nav-item"><a class="nav-link" href="/videos">🎥 Videos</a></li>
    <li class="nav-item"><a class="nav-link" href="/explore">🌐 Explore</a></li>
  </ul>
</div>
