<!DOCTYPE html>
<html lang="en">
<head>
  <% include('partials/head') %>
  <title>Find Contracts</title>
</head>
<body>
  <% include('partials/navbar') %>
  <main class="container py-5 mt-5">
    <h1>Find Contracts</h1>
    <p>Contract listings here.</p>
  </main>
  <% include('partials/footer') %>
</body>
</html>
