<%- include('partials/header', { title: 'Videos' }) %>
<%- include('partials/navbar') %>
<%- include('partials/sidebar') %>

<div class="container my-4" "text-center">
    <h2 class="mb-4">Need More Help?</h2>
    <p>If you have questions or need further assistance, please visit our <a href="/support">Support Page</a> or contact us at <a href="mailto:support@nomatica1.com">support@nomatica1.com</a>.</p>
    <p>You can also check our <a href="/faq">FAQ</a> section for quick answers.</p>
</div>
<script src="/script.js"></script>
<%- include('partials/footer') %>

