<body>
    <!-- Centered Navbar Links -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="#">Colorful Moves</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <!-- (You can keep or remove these nav links as needed) -->
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar py-4">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/find-contracts">Find Contracts</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/submit-proposal">Submit Proposal</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/local-subcontractors">Local Subcontractors</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/vendor-portal">Vendor Portal</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/admin-portal">Admin Portal</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
                <!-- Place your sections here as before -->
                <!-- ... (copy your <section> blocks here) ... -->
            </main>
        </div>
    </div>

    <!-- Fixed Footer with Chat AI Assistant -->
    <!-- (Keep your footer as is) -->
</body>
