<div class="container py-4 text-center">
  <h1>Submit Proposal</h1>
  <p>Upload and manage your proposals for available contracts.</p>
  <form>
    <div class="mb-3">
      <label for="proposalFile" class="form-label">Upload Proposal File</label>
      <input type="file" class="form-control" id="proposalFile">
    </div>
    <button type="submit" class="btn btn-primary">Submit Proposal</button>
  </form>
</div>
<script src="/script.js"></script>


