<div class="container py-4 text-center">
  <h1>Submit Proposal</h1>
  <p>Upload and manage your proposals for available contracts.</p>
  <form>
    <div class="mb-3">
      <label for="proposalFile" class="form-label">Upload Proposal File</label>
      <input type="file" class="form-control" id="proposalFile">
    </div>
    <button type="submit" class="btn btn-primary">Submit Proposal</button>
  </form>
</div>
<script src="/script.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/proposal1.jpg" class="card-img-top" alt="Proposal 1">
        <div class="card-body">
          <h5 class="card-title">Proposal Title 1</h5>
          <p class="card-text">Description of proposal 1.</p>
          <a href="#" class="btn btn-primary">View Proposal</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/proposal2.jpg" class="card-img-top" alt="Proposal 2">
        <div class="card-body">   
          <h5 class="card-title">Proposal Title 2</h5>
          <p class="card-text">Description of proposal 2.</p>
          <a href="#" class="btn btn-primary">View Proposal</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/proposal3.jpg" class="card-img-top" alt="Proposal 3">
        <div class="card-body">
          <h5 class="card-title">Proposal Title 3</h5>
          <p class="card-text">Description of proposal 3.</p>
          <a href="#" class="btn btn-primary">View Proposal</a>
        </div>
      </div>
    </div>
  </div>
</div>
