<div class="container py-4 text-center">
  <h1>Videos</h1>
  <p>Browse our video library for helpful tutorials and guides.</p>
</div>
<script src="/script.js"></script>  
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/video1.jpg" class="card-img-top" alt="Video 1">
        <div class="card-body">
          <h5 class="card-title">Video Title 1</h5>
          <p class="card-text">Description of video 1.</p>
          <a href="#" class="btn btn-primary">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/video2.jpg" class="card-img-top" alt="Video 2">
        <div class="card-body">
          <h5 class="card-title">Video Title 2</h5>
          <p class="card-text">Description of video 2.</p>
          <a href="#" class="btn btn-primary">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/video3.jpg" class="card-img-top" alt="Video 3">
        <div class="card-body">
          <h5 class="card-title">Video Title 3</h5>
          <p class="card-text">Description of video 3.</p>
          <a href="#" class="btn btn-primary">Watch Video</a>
        </div>
      </div>
    </div>
  </div>