<%- include('partials/header', { title: 'Videos' }) %>
<%- include('partials/sidebar') %>

<div class="container py-4">
  <h1>Videos</h1>
  <p>Browse our video library for helpful tutorials and guides.</p>
</div>
<script src="/script.js"></script>
<%- include('partials/footer') %>

